* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
  mask-image: linear-gradient(to right, transparent, #000 20%, #000 80%);
}
.wrapper {
  display: flex;
  align-items: center;
  width: max-content;
  animation: scroll 2s linear infinite;
}

@keyframes scroll {
  to {
    transform: translateX(-50%);
  }
}

.logo {
  flex-shrink: 0;
  margin-right: 2rem;
}
.logo img {
  width: 100px;
}
#react {
  animation: spin 2s linear infinite;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
